<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button>
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>HOME</h1>
  <ion-button routerLink="/list" routerDirection="forward">Navigate with inline routerlink forward</ion-button>
  <ion-button routerLink="/list" routerDirection="root">Navigate with inline routerlink root</ion-button>
  <ion-button (click)="navigate()">Navigate with this.router.navigate</ion-button>
  <ion-button (click)="navigateByUrl()">Navigate with this.router.navigateByUrl</ion-button>
  <ion-button (click)="navigateForwards()">Navigate with this.navctrl.navigateForwards</ion-button>
  <ion-button (click)="navigateBackwards()">Navigate with this.navctrl.navigateBackwards</ion-button>
  <ion-button (click)="navigateroot()">Navigate with this.navctrl.navigateroot</ion-button>
</ion-content>
